@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020E18;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  color: white;
}

a {
  text-decoration: none;
}

.primary {
  background-color: #002A4D;
}

.divcolor {
  background-color: #00172A;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}